body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/***********
Nav Bar section
***********/
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: auto;
    z-index: 1000;
    background-color: #1CCAD8;
    -webkit-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.55);
    box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.55);
}

#navbranding {
    float: left;
    font-size: 21px;
}

.navitem {
    float: right;
    font-size: 18px;
}


.navbar li a {
    text-decoration: none;
    display: block;
    color: white;
    text-align: center;
    padding: 15px 18px;
}

/**********
Header
***********/
h1 {
    margin-top: 150px;
    margin-left: 200px;
}